# --- Core Utilities & IO ---
filelock==3.20.0
importlib_metadata==8.7.0
importlib-resources==5.12.0
fsspec==2025.10.0
jinja2==3.1.6
httpx==0.28.1
httpcore==1.0.9
h11==0.16.0
colorlog==6.10.1
gitpython==3.1.45
gitdb==4.0.12
python-dotenv==1.2.1
packaging==25.0
psutil==7.1.3
pyyaml==6.0.3
regex==2025.11.3
sympy==1.13.1
typing_extensions==4.15.0
xxhash==3.6.0
protobuf==3.20.1
omegaconf==2.3.0
ftfy==6.3.1
beautifulsoup4==4.14.2
soupsieve==2.8
click==8.3.1
typer==0.20.0
typer-slim==0.20.0
rich==13.9.4
networkx==3.6
einops==0.8.1
huggingface-hub==0.36.0
hf-xet==1.2.0
smart_open==7.5.0
platformdirs==4.5.0
zipp==3.23.0
six==1.17.0
tqdm==4.67.1

# --- ML Framework Dependencies & Extensions ---
sdnq == 0.1.3
optimum-quanto
timm==1.0.22
kornia==0.8.2
kornia_rs==0.1.10
spandrel==0.4.1
torchdiffeq==0.2.5
torchmetrics==0.11.4
pytorch-lightning==2.1.0
lightning-utilities==0.15.2
hydra-core==1.3.2
hydra-colorlog==1.2.0
nitrous-ema==0.0.1
open_clip_torch==3.2.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensordict==0.10.0
alias-free-torch==0.0.6
einops-exts==0.0.4
ema-pytorch==0.7.7
local-attention==1.8.6
prefigure==0.0.9
v-diffusion-pytorch==0.0.2
vector-quantize-pytorch==1.14.41
wandb==0.15.4
webdataset==0.2.100
pandas==2.0.2
k-diffusion==0.1.1
laion-clap==1.1.4
pywavelets==1.4.1
av==16.0.1
opt_einsum==3.4.0
safetensors==0.7.0
peft==0.18.0
accelerate==1.12.0
tokenizers==0.22.0
transformers==4.57.3
bitsandbytes==0.48.2
jax==0.8.1
jaxlib==0.8.1
onnx==1.19.1
torchsde==0.2.6
torchcodec==0.8.1

# --- Audio Codecs & Tools ---
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
vocos==0.1.0
auraloss==0.4.0
aura-sr==0.0.4
librosa==0.11.0
soundfile==0.13.1
pydub==0.25.1
audioread==3.1.0
resampy==0.4.3
sounddevice==0.5.3
torchlibrosa==0.1.0
soxr==1.0.0
sox
onnxruntime==1.20.1
wheel

# --- Image & Vision ---
opencv-python==4.12.0.88
pillow==11.2.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
imWatermark==0.0.2
mediapipe==0.10.21
scikit-image==0.25.2
contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.0
kiwisolver==1.4.9
matplotlib==3.10.7
matplotlib-inline==0.2.1
pyparsing==3.2.5
markupsafe

# --- Scientific ---
scipy==1.16.3
scikit-learn==1.2.2
mpmath==1.3.0
numba==0.62.1
llvmlite==0.45.1

# --- Text & UI ---
sentencepiece==0.1.99
gradio==6.0.1
gradio_client==2.0.0
resemble-perth==1.0.1
fastapi==0.122.0
uvicorn==0.38.0
starlette==0.50.0
websockets==15.0.1
websocket-client==1.8.0
python-multipart==0.0.20
orjson==3.11.4
pydantic==2.12.4
pydantic_core==2.41.5
annotated-types==0.7.0
anyio==4.12.0
sniffio==1.3.0
shellingham==1.5.4
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2
semantic-version==2.10.0
tomlkit==0.13.3
ffmpy==1.0.0

# --- Spacy Deps ---
blis==1.3.3
catalogue==2.0.10
cymem==2.0.13
murmurhash==1.0.15
preshed==3.0.12
srsly==2.5.2
thinc==8.3.10
wasabi==1.1.3
weasel==0.4.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
confection==0.1.5
conformer==0.3.2

# --- Google / Cloud ---
google-api-core==2.28.1
google-auth==2.43.0
google-cloud-core==2.5.0
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio==1.76.0
proto-plus==1.26.1
rsa==4.9.1
cachetools==6.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
boto3==1.41.5
botocore==1.41.5
s3transfer==0.15.0

# --- Misc Missing Dependencies ---
absl-py==2.3.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-doc==0.0.4
appdirs==1.4.4
asttokens==3.0.1
attrs==25.4.0
braceexpand==0.1.7
brotli==1.2.0
cached_path==1.8.0
celluloid==0.2.0
cffi==2.0.0
cfgv==3.5.0
clean-fid==0.1.35
clip-anytorch==2.6.0
cloudpathlib==0.23.0
cloudpickle==3.1.2
colorama==0.4.6
configparser==7.2.0
datasets==4.4.1
decorator==5.2.1
dill==0.4.0
distlib==0.4.0
docker-pycreds==0.4.0
docstring_parser==0.17.0
executing==2.2.1
fire==0.7.1
flatbuffers==25.9.23
flatten-dict==0.4.2
frozendict==2.4.7
frozenlist==1.8.0
future==1.0.0
gguf==0.17.1
gin-config==0.5.0
groovy==0.1.2
h5py==3.15.1
identify==2.6.15
ipython==9.7.0
jedi==0.19.2
jmespath==1.0.1
joblib==1.5.2
jsonmerge==1.9.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lazy_loader==0.4
loguru==0.7.3
markdown2==2.5.4
ml_dtypes==0.5.4
msgpack==1.1.2
multidict==6.7.0
multiprocess==0.70.18
nodeenv==1.9.1
parso==0.8.5
pooch==1.8.2
pre_commit==4.5.0
prompt_toolkit==3.0.52
propcache==0.4.1
pure_eval==0.2.3
pyarrow==22.0.0
pycparser==2.23
pypinyin==0.55.0
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.37.0
reportlab==4.4.5
rjieba==0.1.13
rpds-py==0.29.0
safehttpx==0.1.7
sentry-sdk==2.46.0
setproctitle==1.3.7
smmap==5.0.2
stack-data==0.6.3
tabulate==0.9.0
termcolor==3.2.0
threadpoolctl==3.6.0
tifffile==2025.10.16
tomli==2.3.0
traitlets==5.14.3
trampoline==0.1.2
typing-inspection==0.4.2
tzdata==2025.2
virtualenv==20.35.4
wcwidth==0.2.14
win32_setctime==1.2.0
wrapt==2.0.1
yarl==1.22.0